<ion-view class="scroll-content">
<div class="bar bar-header bar-light">
   <button class="button icon ion-arrow-left-c"></button>
      <h1 class="title">Travel Diaries</h1>
</div>

</div>
<div style="text-align: center; margin-top: 50%">
	<button class="button button-royal button-outline icon icon-left ion-compose" ui-sref='share'>Go to NewsFeed</button>
	<br/>
	<br/><br/><br/>
	
	<button ui-sref='map' class="button button-assertive button-outline icon icon-left ion-map">Start new Journey</button><br/>		
</div>
</ion-view>